#include <stdio.h>

void main()
{
     #define IGV 1.18
     #define SEGURO 150
     float minutos, megas, x, y;
   
     printf("\n Ingrese la cantidad de minutos consumidos: ");
     scanf("%f", &minutos);

     printf("\n Ingrese la cantidad de megas consumidos: ");
     scanf("%f", &megas);

     if ((minutos <= 100) && (megas <= 500))
            printf("El total a pagar es %f\n",IGV*(SEGURO+20));
     else
     {
           if ((minutos <= 100) && (megas > 500))
           {
                    x = 0.05*(megas-500);
            printf("El total a pagar es %f\n",IGV*(SEGURO+x+20));
           }
           if ((minutos > 100) && (megas <= 500))
           {
                    y = 0.2*(minutos-100);
            printf("El total a pagar es %f\n",IGV*(SEGURO+y+20));
           }
           if ((minutos > 100) && (megas > 500))
           {
                    x = 0.05*(megas-500);
                    y = 0.2*(minutos-100);
            printf("El total a pagar es %f\n",IGV*(SEGURO+x+y+20));
           }
     }
}
